In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("F:/Machine_Learning/Pandas/top_100_tallest_buildings_world.csv")

In [4]:
data.head()

               Building Name          City               Country Continent
0               Burj Khalifa         Dubai  United Arab Emirates      Asia
1                Merdeka 118  Kuala Lumpur              Malaysia      Asia
2             Shanghai Tower      Shanghai                 China      Asia
3  Abraj Al-Bait Clock Tower         Mecca          Saudi Arabia      Asia
4     Ping An Finance Centre      Shenzhen                 China      Asia

In [5]:
data.City

0            Dubai
1     Kuala Lumpur
2         Shanghai
3            Mecca
4         Shenzhen
          ...
69           Dubai
70           Malmö
71    Philadelphia
72     Los Angeles
73         Chicago
Name: City, Length: 74, dtype: object

In [6]:
data['City']

0            Dubai
1     Kuala Lumpur
2         Shanghai
3            Mecca
4         Shenzhen
          ...
69           Dubai
70           Malmö
71    Philadelphia
72     Los Angeles
73         Chicago
Name: City, Length: 74, dtype: object

In [7]:
data['Country'][3]

'Saudi Arabia'

In [8]:
data.iloc[0]

Building Name            Burj Khalifa
City                            Dubai
Country          United Arab Emirates
Continent                        Asia
Name: 0, dtype: object

In [10]:
data.iloc[:,0]

0                  Burj Khalifa
1                   Merdeka 118
2                Shanghai Tower
3     Abraj Al-Bait Clock Tower
4        Ping An Finance Centre
                ...
69       Rose Rayhaan by Rotana
70                Turning Torso
71    Comcast Technology Center
72        Wilshire Grand Center
73          John Hancock Center
Name: Building Name, Length: 74, dtype: object

In [11]:
data.iloc[:3,0]

0      Burj Khalifa
1       Merdeka 118
2    Shanghai Tower
Name: Building Name, dtype: object

In [12]:
data.iloc[1:3,0]

1       Merdeka 118
2    Shanghai Tower
Name: Building Name, dtype: object

In [13]:
data.iloc[-5:]

,Building Name,City,Country,Continent
69,Rose Rayhaan by Rotana,Dubai,United Arab Emirates,Asia
70,Turning Torso,Malmö,Sweden,Europe
71,Comcast Technology Center,Philadelphia,United States,North America
72,Wilshire Grand Center,Los Angeles,United States,North America
73,John Hancock Center,Chicago,United States,North America

In [15]:
data.loc[73,'Building Name']

'John Hancock Center'

In [16]:
data.City=='Dubai'

0      True
1     False
2     False
3     False
4     False
      ...
69     True
70    False
71    False
72    False
73    False
Name: City, Length: 74, dtype: bool

In [19]:
data.loc[(data.City=='Shanghai')&(data.Country=='China')]

                      Building Name      City Country Continent
2                    Shanghai Tower  Shanghai   China      Asia
11  Shanghai World Financial Center  Shanghai   China      Asia
27                    Jin Mao Tower  Shanghai   China      Asia
43                       ICBC Tower  Shanghai   China      Asia
50       Shimao International Plaza  Shanghai   China      Asia