In [1]:
import pandas as pd

In [3]:
pd.DataFrame({'Yes':[50,21],'No':[131,2]})

   Yes   No
0   50  131
1   21    2

In [4]:
pd.DataFrame({'Course':['CSE 465','CSE 499B','CSE 411'],'Day':['RA','MW','ST']})

     Course Day
0   CSE 465  RA
1  CSE 499B  MW
2   CSE 411  ST

In [5]:
pd.Series([10,20,30,40,50])

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
pd.Series([10,20,30,40,50],index=['Class 1','Class2','Class 3','Class 4','Class 5'], name='School')

Class 1    10
Class2     20
Class 3    30
Class 4    40
Class 5    50
Name: School, dtype: int64

In [8]:
tall_building_list=pd.read_csv("F:/Machine_Learning/Pandas/top_100_tallest_buildings_world.csv")

In [9]:
tall_building_list.shape

(74, 4)

In [10]:
tall_building_list.head()

               Building Name          City               Country Continent
0               Burj Khalifa         Dubai  United Arab Emirates      Asia
1                Merdeka 118  Kuala Lumpur              Malaysia      Asia
2             Shanghai Tower      Shanghai                 China      Asia
3  Abraj Al-Bait Clock Tower         Mecca          Saudi Arabia      Asia
4     Ping An Finance Centre      Shenzhen                 China      Asia